<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterdemoApp.studyVersion.home.title">Study Versions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-study-version" [routerLink]="['/study-version/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterdemoApp.studyVersion.home.createLabel">
            Create new Study Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="studyVersions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterdemoApp.studyVersion.name">Name</span></th>
            <th><span jhiTranslate="jhipsterdemoApp.studyVersion.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jhipsterdemoApp.studyVersion.updateDate">Update Date</span></th>
            <th><span jhiTranslate="jhipsterdemoApp.studyVersion.study">Study</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studyVersion of studyVersions ;trackBy: trackId">
                <td><a [routerLink]="['/study-version', studyVersion.id, 'view' ]">{{studyVersion.id}}</a></td>
                <td>{{studyVersion.name}}</td>
                <td>{{studyVersion.creationDate | date:'medium'}}</td>
                <td>{{studyVersion.updateDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="studyVersion.study">
                        <a [routerLink]="['../study', studyVersion.study?.id, 'view' ]" >{{studyVersion.study?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/study-version', studyVersion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/study-version', studyVersion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'study-version', { outlets: { popup: studyVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
